<!DOCTYPE html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ogp-article.ais}}
  <title>{{title}} - {{blogName}}</title>
  <meta name="description" content="{{description}}" />
  <link rel="stylesheet" href="/src/default.css">
  {{requiredTags}}
</head>
<body>
  <header class="center">
    <div><a href="/">{{blogName}}</a></div>
  </header>
  <main>
    <div id="metadata">
      <h1>{{title}}</h1>
      <div>{{date}}</div>
      <div>最終更新: {{lastUpdate}}</div>
      <div>タグ: {{tags}}</div>
    </div>
    <div id="table-of-contents">
      <div>目次</div>
      {{tableOfContents}}
    </div>
    <div id="content">{{content}}</div>
  </main>
  <footer class="center">
    <div><a href="/">ホームページ</a></div>
    <div><a href="/about">このサイトについて</a></div>
    <div><a href="/all">全てのページ</a></div>
    <div>{{copyright}}</div>
  </footer>
</body>
</html>